.logoutButton {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border: none;
    background-color: white;
    font-size: 25px;
    padding-left: 20px;
}

.logoutButton:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.logoutButtonText {
    padding-left: 15px;
    font-size: 14px;
}