.sdWrapper {
	display: flex;
	justify-content: center;
	height: auto;
}

.sdContainer {
	display: flex;
	min-width: 1050px;
	max-width: 1050px;
	margin-top: 38px;
}

/************ STOCK FEED *************/

.sdStockFeed {
	/* border: 1px solid black; */
	width: 68%;
	/* background-color: blue; */
}

.sdGraphSection {
	padding: 0 20px;
}

.sdGraphBalanceContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: yellow;
}




/*********** PORTFOLIO LIST ***********/

.sdSidePanel {
	border: 1px solid black;
	flex: 0.3;
}

.sdOrder {
	width: 100%;
	border: 1px solid black;
}

.sdAddToWatch {
	border: 1px solid black;
}