.pfWrapper {
	display: flex;
	justify-content: center;
	height: auto;
}

.pfContainer {
	display: flex;
	min-width: 1050px;
	max-width: 1050px;
	margin-top: 38px;
	/* background-color: blue; */
}

/************ STOCK FEED *************/

.pfStockFeed {
	/* border: 1px solid black; */
	/* flex: 0.7; */
	width: 68%;
	/* background-color: red; */
}

.pfGraphSection {
	padding: 0 20px;
}

.pfGraphBalanceContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	/* background-color: yellow; */
	margin: 5px 0px 40px 0px;
}

.pfGraphBalanceTotal {
	font-size: 30px;
	font-weight: 500;
}

.pfGraphBalanceChangeContainer {
	display: flex;
	gap: 5px;
	align-items: center;
}

.pfGraphBalanceChangeAmount, .pfGraphBalanceChangePercent {
	font-size: 13px;
	font-weight: bold;
}

.pfGraphBalanceChangeToday {
	font-size: 13px;
	color: #6A7278;
}

.sdGraphStockGraph {
	/* background-color: lightcyan; */
	/* border: 1px solid black; */
}

.pfGraphStockGraphContainer {
    height: 196px;
    width: 676px;
}




.pfGraphBuyingPowerContainer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgb(228, 228, 228);
	border-bottom: 1px solid rgb(228, 228, 228);
	padding: 30px 0px;
}

.pfGraphBuyingPowerText, .pfGraphBuyingPowerAmount {
	font-size: 15px;
	font-weight: 600;

}



.pfNewsSection {
	padding: 0 20px;
}

.pfNewsHeader {
	font-size: 25px;
	font-weight: 500;
	padding: 70px 0px 20px 0px;
	border-bottom: 1px solid rgb(228, 228, 228);
}

.pfNewsBody {

}


.pfNewsArticleLink {
	text-decoration: none;
	background-color: red;
	height: auto;
	border-bottom: 1px solid rgb(228, 228, 228);
	padding: 25px 0px;
}

.pfNewsArticleLink:hover {
	/* background-color: rgb(247, 247, 247); */
}



.pfNewsArticleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: auto;
	border-bottom: 1px solid rgb(228, 228, 228);
	padding: 25px 0px;
}

.pfNewsArticleContainer:hover {
	background-color: rgb(247, 247, 247);
}







.pfNewsArticleBody {
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-between; */
}

.pfNewsArticleText {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 480px;
	/* background-color: #00C805; */
}

.pfNewsArticleProvider {
	font-size: 13px;
	font-weight: bold;
}

.pfNewsArticleHeadline {
	font-size: 15px;
	/* background-color: #00C805; */
}

.pfNewsArticleRelated {
	font-size: 13px;
	font-weight: bold;
}

.pfNewsArticleImageContainer {
	/* background-color: red; */
	background-size: cover;
	background-position: center center;
	width: 130px;
	height: 100px;
	border-radius: 5px;
}

.pfNewsArticleImage {
	border: 1px solid black;
	width: 170px;
	border-radius: 5px;
}

/*********** PORTFOLIO LIST ***********/


.pfPortfolioList {
	position: sticky;
	top: 101px;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 5px;
	box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, .1);
	/* flex: 0.3; */
	width: 26.2%;
	margin-left: 55px;
	max-height: 80vh;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	/* background-color: #00C805; */
}

.pfPortfolioList::-webkit-scrollbar {
	display: none;
}

.pfStockListHeaderContainer, .pfWatchListHeaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 52px;
	border-bottom: 1px solid rgb(228, 228, 228);
}

.pfStockListHeader, .pfWatchlistHeader {
	font-weight: bold;
	font-size: 15px;
	width: 83%;
	/* margin-left: 25px; */
}

.pfStockListBody, .pfWatchlistBody {
	display: flex;
	flex-direction: column;
}

.pfStockListItemNav, .pfWatchlistItemNav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid rgb(228, 228, 228);
	text-decoration: none;
	/* background-color: lightblue; */
}

.pfStockListItemNav:hover, .pfWatchlistItemNav:hover {
	background-color: rgb(247, 247, 247);
}

.pfStockListItem, .pfWatchlistItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 83%;
}

.pfStockListItemLeft, .pfWatchlistItemLeft {
	display: flex;
	height: 37px;
	gap: 5px;
	/* background-color: yellow; */
}

.pfStockListItemTickerContainer, .pfWatchlistItemTickerContainer {
	display: flex;
	flex-direction: column;
	gap: 4px;
	/* border: 1px solid grey; */
	width: 70px;
}

.pfWatchlistItemTickerContainer {
	justify-content: center;
}

.pfStockListItemTicker, .pfWatchlistItemTicker {
	font-size: 13px;
	font-weight: bold;
}

.pfStockListItemShares {
	font-size: 13px;
}

.pfStockListItemGraph, .pfWatchlistItemGraph {
	/* border: 1px solid grey; */
	height: auto;
	width: 75px;
	/* width: 40% */
}

.pfStockListItemPriceContainer, .pfWatchlistItemPriceContainer {
	/* width: 15%; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* border: 1px solid grey; */
	height: 37px;
	/* background-color: aquamarine; */
}

.pfStockListItemPrice, .pfWatchlistItemPrice {
	font-size: 13px;
	/* background-color: yellow; */
}

.pfStockListItemPercent, .pfWatchlistItemPercent {
	font-size: 13px;
	/* background-color: aquamarine; */
	text-align: right;
}

#pfStockListItemPercentNegative, #pfWatchlistItemPercentNegative {
	color: #FF5000;
}

#pfStockListItemPercentPositive, #pfWatchlistItemPercentPositive {
	color: #00C805;
}







/* .pfWatchlistHeader {
	font-weight: bold;
	font-size: 15px;
	width: 80%;
	margin-left: 25px;
}

.pfWatchlistItem {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	background-color: aqua;
}  */