/*  Logged in Navigation */
.navWrapper {
	display: flex;
	background-color: white;
	align-items: center;
	height: 63px;
	z-index: 1;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .2);
	position: sticky;
	top: 0;
}

.navContainer {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0px 50px 0px 50px;
}

.navLeft{
	display: flex;
	gap: 47px;
	text-decoration: none;
	align-items: center;
}

.navLogoImage {
	width: 40px;
}

.navSearchBarContainer {
	display: flex;
	min-width: 760px;
	align-items: center;
}

.navSearchBarIcon {
	display: flex;
	position: relative;
	font-size: 24px;
	right: 470px;
	color: grey;
}

.navSearchBar {
	/* margin-left: 140px; */
    border: 1px solid rgb(228, 228, 228);
	border-radius: 5px;
	width: 480px;
	height: 35px;
	text-indent: 40px;
	outline-width: 0px;
}

.navSearchBar:hover {
	border: none;
	box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, .1);
}

.navRight{
	display: flex;
	gap: 25px;
}

.navGitHub, .navLinkedIn, .navPortfolio {
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
}

.navGitHub:hover, .navLinkedIn:hover, .navPortfolio:hover {
	color: rgb(68, 205, 88);
	cursor: pointer;
}



/*  Splash Navigation */
.splashNavWrapper {
	display: flex;
	background-color: white;
	align-items: center;
	height: 63px;
	z-index: 1;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .2);
	position: sticky;
	top: 0;
}

.splashNavContainer {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0px 24px 0px 24px;
}

.splashNavLeft{
	display: flex;
	gap: 47px;
	text-decoration: none;
	align-items: center;
}

.splashNavLogoContainer {
	display: flex;
	gap: 10px;
	text-decoration: none;
}

.splashNavLogoText {
	font-size: 25px;
}

.splashNavLogoImage {
	width: 40px;
}

.splashNavGitHub, .splashNavLinkedIn, .splashNavMeet {
	font-size: 18px;
	text-decoration: none;
}

.splashNavGitHub:hover, .splashNavLinkedIn:hover, .splashNavMeet:hover {
	color: #00C805;
	cursor: pointer;
}

.splashNavMeet {
	background-color: white;
	border: none;
}

.splashNavRight{
	display: flex;
	gap: 35px;
	/* margin-right: 2px; */
}

.splashNavLogIn, .splashNavSignUp {
	font-size: 17px;
	text-decoration: none;
	font-weight: bold;
}

.splashNavLogIn {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 14px 0px 14px 0px;
}

.splashNavLogIn:hover {
	color: #00C805;
	cursor: pointer;
}

.splashNavSignUp {
	background-color: #00C805;
	padding: 14px 39px 14px 39px;
	border-radius: 100px;
}

.splashNavSignUp:hover {
	background-color: rgb(0, 181, 6);
	cursor: pointer;
}

